body {
  min-width: 400px;
}

h1 {
  font-size: 18px;
}

input {
  border: 1px solid #0dcaf0;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
}

#save-input-btn {
  padding: 10px 15px;
  font-weight: bold;
}

#delete-input-btn {
  background: white;
  border: 1px solid #0dcaf0;
  font-weight: bold;
  padding: 10px 15px;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

li a {
  color: #0dcaf0;
}

footer {
  font-size: 10px;
}
